{% extends 'appointments/base.html' %}

{% block title %}Clínica Mais - Todas as consultas{% endblock %}

{% load app_filters %}

{% block content %}
  <div>
    {% if user.doctor %}
      <h3>Minhas consultas</h3>
    {% else %}
      <h3>Todas as consultas</h3>
    {% endif %}
    <label for="searchInput">Pesquisar: </label>
    <input type="text" id="searchInput" class="my-2">
  </div>
  <table class="table table-hover table-responsive" id="tableSearch">
    <thead>
      <tr>
        <th scope="col">Data</th>
        {% if not user.doctor %}
          <th scope="col">Médico</th>
        {% endif %}
        <th scope="col">Paciente</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for appointment in appointments %}
        <tr>
          <th scope="row">{{ appointment.date }}</th>
          {% if not user.doctor %}
            <td>{{ appointment.doctor.name }}</td>
          {% endif %}
          <td>{{ appointment.patient.name }}</td>
          <td class="text-center">
            {% if appointment.canceled %}
              <button type="button" class="btn btn-outline-danger" disabled>Cancelada</button>
            {% else %}
              <a class="btn btn-success btn-sm mr-2 mb-2" href="{% url 'details_appointment' id=appointment.id %}">Ver</a>
              {% if user.doctor and not appointment.date|is_past%}
                <a class="btn btn-primary btn-sm mr-2 mb-2" href="{% url 'appointment' id=appointment.id %}">Atender</a>
              {% endif %}
              {% if not user.doctor and not appointment.date|is_past %}
                <button type="button" class="btn btn-danger btn-sm deleteBtn mb-2" data-url="{% url 'cancel_appointment' id=appointment.id %}" data-toggle="modal" data-target="#deleteModal">Cancelar consulta</button>
              {% endif %}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="text-center">
    <a class="btn btn-secondary" href="{% url 'home' %}">Home</a>
  </div>
  {% include "users/modal_delete.html" %}
{% endblock %}
