<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
  </head>
  <body>
    {% if user.is_authenticated %}
      <div class="mainBox">
        <div class="position-fixed bg-white">
          <div class="mainMsg text-right p-3">
            <div class="container">
              <h1 class="float-left text-left homeTitle">
                <a class="homeLink" href="{% url 'home' %}" title="Home"><strong class="text-success position-relative" style="font-size: 4rem; top: 0.5rem">+</strong> Clínica Mais</a>
              </h1>
              <span>Olá, {{ user.first_name }}{{ user.attendant.name }}{{ user.doctor.name }}{{ user.patient.name }}</span>
              <a class="btn btn-dark ml-4" href="{% url 'logout' %}">Sair</a>
            </div>
          </div>
          {% if not user.doctor %}
            <div class="menubarBox">
              {% include "appointments/menubar.html" %}
            </div>
          {% endif %}
        </div>
    {% endif %}
    <div class="container pt-3 pb-5">
      {% include "appointments/alerts.html" %}
      {% block content %}{% endblock %}
    </div>
    {% if user.is_authenticated %}
      </div>
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="{% static "js/main.js" %}"></script>
  </body>
</html>
