{% extends 'appointments/base.html' %}

{% block title %}Clínica Mais - Nova consulta{% endblock %}

{% block content %}
  <div>
    <h3>Agendar nova consulta</h3>
  </div>
  <table class="table table-hover table-responsive tableAppointment text-center">
    <thead>
      <tr>
        <th scope="col"></th>
        {% for day in daynames %}
          <th scope="col">{{ day}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for hour, forms in appointment_forms.items %}
        <tr>
          <th scope="row">{{ hour }}</th>
          {% for form in forms %}
            <td>
              {% if form == "notavailable" %}
                <button type="button" class="btn btn-outline-danger btn-sm" disabled>Indisponível</button>
              {% elif form == "appointment" %}
                <button type="button" class="btn btn-outline-secondary btn-sm" disabled>Agendada</button>
              {% else %}
              <form method="post">{% csrf_token %}
                {{ form }}
                <button type="button" class="btn btn-primary btn-sm btnNewAppointment">Disponível</button>
                <button type="submit" class="btn btn-success btn-sm btnSubmitNewAppointment d-none">Agendar</button>
              </form>
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <p class="text-muted"><small>Clique duas vezes para agendar a consulta.</small></p>
  <div class="text-center">
    <a class="btn btn-secondary" href="{% url 'home' %}">Home</a>
  </div>
{% endblock %}
