{% block sidebar %}
<table class="table table-hover table-borderless text-center">
  <tbody>
      <tr>
        <td><a class="nav-link" href="{% url 'all_attendant' %}">Atendentes</a></td>
      </tr>
      <tr>
        <td><a class="nav-link" href="{% url 'all_doctor' %}">Médicos</a></td>
      </tr>
      <tr>
        <td><a class="nav-link" href="{% url 'all_patient' %}">Pacientes</a></td>
      </tr>
      <tr>
        <td><a class="nav-link" href="{% url 'all_attendant' %}">Medicamentos</a></td>
      </tr>
      <tr>
        <td><a class="nav-link" href="{% url 'all_attendant' %}">Exames</a></td>
      </tr>
      <tr>
      </tr>
  </tbody>
</table>
{% endblock %}
