body {
  color: #777777;
}
html, body {
  height: 100%;
}

/* login */
.loginForm label {
  min-width: 80px;
  text-align: right;
}

.loginCard {
  min-height: 360px;
  max-width: 420px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -180px 0 0 -210px;
}

/* sidebar */
.sidebarBox {
  width: 20%;
  border-right: solid 1px #cccccc;
  min-height: 100%;
}

.sidebarBox .table {
  margin-top: 70px;
}

.sidebarBox .table td {
  padding: 0;
}

.sidebarBox .table a {
  color: #777777;
}

.sidebarBox .table a:hover {
  text-decoration: none;
}

/* main */
@media(min-width:768px) {
  .mainBox {
    width: 80% !important;
  }
}

.mainBox {
  width: 100%;
}

.mainMsg {
  border-bottom: solid 1px #cccccc;
}

.homeTitle {
  line-height: 2.5rem;
}

.homeTitle .homeLink {
  color: #777777;
}

.homeTitle .homeLink:hover {
  text-decoration: none;
}

/* forms */
.myForm p label {
  width: 100px;
  text-align: right;
  line-height: 1rem;
}

.myForm p input {
  width: 50%;
  margin-left: 10px;
}

.myForm p .helptext {
  display: block;
  margin: 5px 0 0 115px;
  font-size: 0.9rem;
}

.myForm p select {
  width: 25%;
  margin-left: 10px;
}

.myForm .btn {
  margin-left: 115px;
}
