body {
  color: #777777;
}
html, body {
  height: 100%;
}

/* login */
.loginForm label {
  min-width: 80px;
  text-align: right;
}

.loginCard {
  min-height: 360px;
  min-width: 420px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -180px 0 0 -210px;
}

/* sidebar */
.sidebarBox {
  width: 20%;
  border-right: solid 1px #cccccc;
  min-height: 100%;
}

/* main */
.mainBox {
  width: 80%;
}

.mainMsg {
  border-bottom: solid 1px #cccccc;
}

.homeTitle {
  line-height: 2.5rem;
}

.homeTitle .homeLink {
  color: #777777;
}

.homeTitle .homeLink:hover {
  text-decoration: none;
}
