html, body, .height100 {
  height: 100%;
}

/* login */
.loginForm label {
  min-width: 80px;
  text-align: right;
}

.loginCard {
  min-height: 360px;
  min-width: 420px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -180px 0 0 -210px;
}

/* sidebar */
.sidebarBox {
  width: 20%;
  border-right: solid 1px #000000;
  min-height: 100%;
}

/* main */
.mainBox {
  width: 80%;
}

.mainMsg {
  border-bottom: solid 1px #000000;
}
